	<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><%= link_to ' Home', root_path %></li>
						<li class="active">How does 3D printing work</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-9">

						
						
							<div id="header-1">
								<h2 class="space-top">How does 3D printing work</h2>
								<div class="separator-2"></div>
								<P>3D Printing is an additive manufacturing process that creates a physical object from a digital design. There are different 3D printing technologies and materials you can print with, but all are based on the same principle: a digital model is turned into a solid three-dimensional physical object by adding material layer by layer.

In this guide you’ll find everything you need to know about 3D printing, starting with the very basics before diving deeper to give you expert knowledge that’ll be essential once you decide to get started.</P>
							</div>

							<div id="header-2">
								<h2 class="space-top">Technologies</h2>
								<div class="separator-2"></div>
								<P> All 3D printing technologies create physical objects from digital designs layer by layer, but each using its own proprietary method. To shed the confusion, we’ve created an infographic highlighting all the main technologies starting from the high level grouping, guiding through the printing process, exact technology titles, material options and ending with the key industry players.</P>
							</div>

							<div id="header-3">
								<h2 class="space-top">Materials </h2>
								<div class="separator-2"></div>
								<P> Selecting the right 3D printing material for your project is very important. Which material is most suitable is largely dependent on your specific use case. In this section, you’ll find the most common 3D printing materials. Learn more about them, compare them side-by-side and pick yours. </P>
							</div>

							<div id="header-4">
								<h2 class="space-top">How can I get 3D printable designs?</h2>
								<div class="separator-2"></div>
								<P>Let’s start with the basics. To 3D print something, first you need a 3D model – the mathematical representation of any three-dimensional surface of an object. 3D models are created using computer-aided design (CAD) tools, various specialized software tools that simplify the design process on computers, tablets or even smartphones.

From here, you have three options: create a design yourself, have someone else design your idea for you, or browse thousands of existing designs on 3D printing content platforms.</P>
							</div>

							<div id="header-5">
								<h2 class="space-top">Find a design online </h2>
								<div class="separator-2"></div>
								<P>If you don’t have a 3D file ready for printing, or if you just want to try 3D printing without having to design something, you can also explore multiple content platforms that offer thousands of free 3D printable designs. </P>
							</div>


						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-3">
							<div class="sidebar">
								<nav class="affix-menu scrollspy">
									<ul class="smooth-scroll nav nav-pills nav-stacked">
										<li class="active"><a href="#header-1">How does 3D printing work - 1</a></li>
										<li><a href="#header-2">Technologies - 2</a></li>
										<li><a href="#header-3">Materials  - 3</a></li>
										<li><a href="#header-4">How can I get 3D printable designs? - 4</a></li>
										<li><a href="#header-5">Find a design online - 5</a></li>
										
									</ul>
								</nav>
							</div>
						</aside>
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->